In [68]:
import pandas as pd
import statistics as st

churn_data=pd.read_csv(r'D:\DIIS - Mobility Insight\DS Academy\Pretest\churn.csv', encoding='latin1')
churn_data.head(5)

,state,account_length,area_code,phone_number,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,...,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,class
0,16,128,415,2845,0,1,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,35,107,415,2301,0,1,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,31,137,415,1616,0,0,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,35,84,408,2510,1,0,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,36,75,415,155,1,0,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0

In [10]:
#benerkah 5000 sample data?
churn_data.shape

(5000, 21)

In [15]:
#cek ada kolom apa aja
churn_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 21 columns):
state                            5000 non-null int64
account_length                   5000 non-null int64
area_code                        5000 non-null int64
phone_number                     5000 non-null int64
international_plan               5000 non-null int64
voice_mail_plan                  5000 non-null int64
number_vmail_messages            5000 non-null int64
total_day_minutes                5000 non-null float64
total_day_calls                  5000 non-null int64
total_day_charge                 5000 non-null float64
total_eve_minutes                5000 non-null float64
total_eve_calls                  5000 non-null int64
total_eve_charge                 5000 non-null float64
total_night_minutes              5000 non-null float64
total_night_calls                5000 non-null int64
total_night_charge               5000 non-null float64
total_intl_minutes               5000 non-null float64
total_intl_calls                 5000 non-null int64
total_intl_charge                5000 non-null float64
number_customer_service_calls    5000 non-null int64
class                            5000 non-null int64
dtypes: float64(8), int64(13)
memory usage: 820.4 KB

In [49]:
#cek apakah ada nomor yang dobel?
len(churn_data.phone_number.unique())
#tidak ada

5000

In [54]:
#cek isi data per kolom
churn_data['class'].value_counts()

0    4293
1     707
Name: class, dtype: int64

In [95]:
#summarize data calls, charge, minutes untuk lebih sederhana
churn_data['total_calls']=churn_data['total_day_calls']+churn_data['total_eve_calls']+churn_data['total_night_calls']+churn_data['total_intl_calls']
churn_data['total_charge']=churn_data['total_day_charge']+churn_data['total_eve_charge']+churn_data['total_night_charge']+churn_data['total_intl_charge']
churn_data['total_minutes']=churn_data['total_day_minutes']+churn_data['total_eve_minutes']+churn_data['total_night_minutes']+churn_data['total_intl_minutes']

churn_data_simple=churn_data[['phone_number','account_length','area_code','international_plan','voice_mail_plan','number_vmail_messages','total_calls','total_charge','total_minutes','number_customer_service_calls','class']]

In [96]:
churned_customer=churn_data_simple[churn_data_simple['class']==1]
churned_customer.shape

(707, 11)

In [97]:
#Pertanyaan 1, dari area mana yang churn banyak berasal?
st.mode(churned_customer['area_code'])

415

In [102]:
#Pertanyaan 2, dari yang churn, rata-rata penggunaan nomornya (account_length) berapa lama?
st.mean(churned_customer['account_length'])

102.33239038189534

In [104]:
churned_customer.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 707 entries, 10 to 4996
Data columns (total 11 columns):
phone_number                     707 non-null int64
account_length                   707 non-null int64
area_code                        707 non-null int64
international_plan               707 non-null int64
voice_mail_plan                  707 non-null int64
number_vmail_messages            707 non-null int64
total_calls                      707 non-null int64
total_charge                     707 non-null float64
total_minutes                    707 non-null float64
number_customer_service_calls    707 non-null int64
class                            707 non-null int64
dtypes: float64(2), int64(9)
memory usage: 66.3 KB

In [130]:
churned_customer[[churned_customer['international_plan']==1] & [churned_customer['voice_mail_plan']==1]]

TypeError: unsupported operand type(s) for &: 'list' and 'list'

In [136]:
churn_data_simple.groupby(["class","international_plan", "voice_mail_plan"]).size()

class  international_plan  voice_mail_plan
0      0                   0                  2883
                           1                  1136
       1                   0                   189
                           1                    85
1      0                   0                   452
                           1                    56
       1                   0                   153
                           1                    46
dtype: int64

In [135]:
churn_data_simple[['number_customer_service_calls','calls']].corr(method='pearson')

KeyError: "['calls'] not in index"

In [137]:
st.mean(churn_data_simple['total_calls'])

304.5748

In [138]:
churn_data_simple.groupby(["class","total_calls"]).size()

class  total_calls
0      191             1
       192             1
       194             1
       206             2
       209             2
       210             1
       211             4
       212             2
       213             1
       214             1
       215             4
       216             1
       217             1
       218             2
       219             1
       220             1
       221             2
       222             4
       223             5
       224             4
       225             9
       226             3
       227             2
       228             2
       229             3
       230             2
       231             7
       232             9
       233             6
       234            10
                      ..
1      352             2
       353             4
       355             4
       356             6
       357             7
       358             2
       359             1
       360             1
       361             1
       362             5
       363             3
       364             4
       365             2
       366             2
       368             2
       369             1
       370             2
       371             3
       373             1
       374             1
       376             1
       377             1
       379             1
       382             2
       383             1
       386             1
       392             1
       395             1
       398             1
       408             1
Length: 356, dtype: int64